.block
  %h3 About
  .content
    %p
      
.block
  %h3 Traffic Analysis
  %ul.navigation
    %li=link_to "Google Analystics", "https://www.google.com/analytics/reporting/?reset=1&id=36342936"
    %li=link_to "AWStats", "http://kevinmcphillips.ca/cgi-bin/awstats/awstats.pl"
    %li=link_to "RSS Feed", "/rss.xml"
    
