.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field

.group
  =f.label :description
  =f.error_message_on :description
  %br
  =f.text_area :description, :class => :text_area, :rows => 8

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field

.group
  =f.label :source_url
  =f.error_message_on :source_url
  =f.text_field :source_url, :class => :text_field

.group
  =f.label :img
  =f.error_message_on :img
  =f.text_field :img, :class => :text_field


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:projects, :index)}';return false", :class => :button
