html {
  background-color: #272C34;
  font-family: 'Source Code Pro', sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  height: 100%;
  font-size: 14px;
  line-height: 0;
  color: #AAB3BF;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
}
.content {
  font-weight: 300;
  width: em(440);
  padding: 0.5em;
  min-height: 100%;
  line-height: 0;
  counter-reset: line;
}
span {
  display: block;
  line-height: 1.5rem;
}
span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  -webkit-user-select: none;
  padding: 0 1em;
  margin-right: .5em;
  text-align: right;
  min-width: 25px;
  background-color: #272C34;
  color: #465061;
}
h1 {
  color: #AAB3BF;
  font-weight: 400;
  font-size: 14px;
  display: inline;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
  display: inline;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.green {
  color: #84EA3A;
}
.red {
  color: #EC5A60;
}
.orange {
  color: #EF9C4C;
}
.purple {
  color: #CE6DF1;
}
.blue {
  color: #36BEFA;
}
.white {
  color: #FFFFFF;
}
.highlight-num {
  color: #AAB3BF;
  display: flex;
}
.highlight-row {
  background-color: #2B323C;
}
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}
