%h2 Bio

%p
  I am a web developer, specializing in Ruby and Ruby on Rails, based in Winnipeg, Manitoba, Canada. I received my bachelor's degree in Computer Science from the University of Manitoba in 2005 and have been employed as a programmer since 2003. I am currently full time doing Rails development for Thorkelson Consulting, but I also do some freelancing and side projects.
  
%p
  I am a firm believer in open source, open standards, and collaboration. This is reflected in the languages and tools that I choose, and
  = link_to "/code", "the source code I share."
  
%p
  When I'm not hacking out code I am a potter, but that is for
  = link_to "http://cliftonstudios.ca/artists.php?name=kevin+mcphillips", "another site."
  
%p
  I am also a friendly person. Feel free to email me at #{rot13js("mailto:" + EMAIL, EMAIL)}.