%h2 Bio

%p
  I am a web developer based out of Winnipeg, Manitoba, Canada. I do most of my work in in Ruby on Rails. I received my bachelor's degree in Computer Science from the University of Manitoba in 2005 and have been employed as a programmer since 2003. Currently, I am working full time doing Rails development for Thorkelson Consulting, plus some freelancing and side projects.
  
%p
  I am a firm believer in open source, open standards, and collaboration. This is reflected in the languages and tools that I choose, and
  = link_to "/code", "the source code I share."
  
%p
  When I'm not hacking out code I am a potter and do wheel thrown functional ceramics, but that is for
  = link_to "http://cliftonstudios.ca/artists.php?name=kevin+mcphillips", "another site."
  
%p
  I am also a friendly person. Feel free to email me at #{rot13email(EMAIL)}.
