%h2 Code

%p
  Sharing source code is a good thing. Most of the tools I use, from the OS to the language to version control to the server this is running on, is all open source. I do my part by contributing as much of my source as I can.
  
%p
  For now I'm 
  = link_to "http://github.com/kimos/", "hosting my projects on github."
