!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "description", content: "Kevin McPhillips. Ruby Web Developer in Winnipeg, Manitoba, Canada."}
    %meta{name: "keywords", content: "Kevin,McPhillips,Kevin McPhillips,Ruby,Ruby on Rails,Rails,RoR,Web developer,Javascript,ruby developer,developer,web,Shopify,Programmer,Web,GitHub,kmcphillips,kevinmcphillips,kevinmcphillips.ca,Open Source,Awesome,Super hero"}
    %meta{name: "author", content: "Kevin McPhillips"}
    %title Kevin McPhillips

    = erb :analytics

    %script{src: "/application.js"}
    %link{href: "/stylesheet.css", rel: "stylesheet", type: "text/css"}

  %body

    %section#content
      %header
        %hgroup
          %h1 Kevin McPhillips
          %h2 Ruby Web Developer

      %ul
        %li= @email
        %li
          %a{href: "http://github.com/kmcphillips/"} kmcphillips on GitHub
        %li
          %a{href: "http://twitter.com/kmcphillips"} @kmcphillips on Twitter
        %li
          %a{href: "/kevinmcphillips_resume.pdf"} resume.pdf
