!!! 5
%html
  %head
    %title Kevin McPhillips

    %script{src: "/application.js"}
    %link{href: "/stylesheet.css", rel: "stylesheet", type: "text/css"}

  %body

    %section#content
      %header
        %hgroup
          %h1 Kevin McPhillips
          %h2 Ruby Web Developer

      %ul
        %li= @email
        %li
          %a{href: "http://github.com/kmcphillips/"} kmcphillips on GitHub
        %li
          %a{href: "http://twitter.com/kmcphillips"} @kmcphillips on Twitter
        %li
          %a{href: "/kevinmcphillips_resume.pdf"} resume.pdf
