- content_for :js_ready do
  :plain
    $('#button-text').click(function() {
      $('#button-sub-text').show();
    });    
    
%h3.center#button-text
  %br
  %br 
  try pressing some buttons -->
  
%h3.center.hidden#button-sub-text
  not this one
  %br
  those ones up on the side

