!!! 5
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "description", content: "Kevin McPhillips. Ruby Web Developer in Ottawa, Ontario, Canada."}
    %meta{name: "keywords", content: "Kevin,McPhillips,Kevin McPhillips,Ruby,Ruby on Rails,Rails,RoR,Web developer,Javascript,ruby developer,developer,web,Shopify,Programmer,Web,GitHub,kmcphillips,kevinmcphillips,kevinmcphillips.ca,Open Source,Awesome,Super hero"}
    %meta{name: "author", content: "Kevin McPhillips"}
    %title Kevin McPhillips

    = erb :analytics

    %script{src: "/application.js"}
    %link{href: "/stylesheet.css", rel: "stylesheet", type: "text/css"}

  %body
    %section#content
      %header
        %hgroup
          %h1 Kevin McPhillips
          %h2
            Ruby developer & team lead at
            %a{href: "https://shopify.com/careers"} Shopify

      %ul
        %li= obfuscated_email
        %li
          %a{href: "https://github.com/kmcphillips"} kmcphillips on GitHub
        %li
          %a{href: "https://twitter.com/kmcphillips"} @kmcphillips on Twitter
        %li
          %a{href: "https://instagram.com/kmcphillips"} @kmcphillips on Instagram
