<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kevin McPhillips</title>
  <meta name="description" content="Kevin McPhillips. Ruby developer and team lead at Shopify.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheet.css">
  <%= erb :analytics %>
</head>
<body>
  <div class="console">
    <span class="console__line"></span>
    <h1 class="console__line">Kevin::McPhillips =</h1>
    <span class="console__line"></span>
    <span class="console__line"></span>
    <h2 class="console__line console__line--highlighted">"<span class="white">Ruby developer and team lead at #{ <a class="green" href="https://shopify.com/careers">Shopify</a> }.</span>"</h2>
    <span class="console__line"></span>
    <span class="console__line"></span>
    <p class="console__line">on( :<a class="red" href="https://github.com/kmcphillips">github</a> )</p>
    <p class="console__line">on( :<a class="orange" href="https://twitter.com/kmcphillips">twitter</a> )</p>
    <p class="console__line">on( :<a class="purple" href="https://instagram.com/kmcphillips">instagram</a> )</p>
    <p class="console__line">by( :<%= obfuscated_email(text: "email", link_class: "blue") %> ).at( "<%= obfuscated_email(link_class: "white") %>" )</p>
    <span class="console__line"></span>
  </div>
</body>
</html>
