!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #left    
      #logo
        Kevin
        %br
        McPhillips
        
      #nav
        #ul
          #li Bio
          #li Resume
          #li Projects
          #li Code
          #li Ceramics
      
    #right
      #content= yield

