%h2 Projects

- Project.all.each_with_index do |project, i|
  .project
    - if i % 2 == 0
      .project_left= render :partial => 'project', :object => project
    - else
      .project_right= render :partial => 'project', :object => project
