<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kevin McPhillips README</title>
  <meta name="description" content="Kevin McPhillips README">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/readme.css">
</head>
<body>
  <header>
    <h1>Kevin McPhillips README</h1>
    <a href="https://www.enneagraminstitute.com/type-1">Type 1</a>
    &mdash;
    <a href="https://www.16personalities.com/istj-personality">ISTJ</a>
  </header>

  <section class="tldr">
    <p>
      <em>tl;dr</em> I am always here for you. Most important to me are team culture and your happiness and safety. I have high expectations but I am here to help you exceed them. I believe in you.
    </p>
  </section>

  <section class="topic">
    <h3>What is my job</h3>
    <p>
      <ul>
        <li>I am always available to talk, about anything, at anytime.</li>
        <li>I am here to help with anything.</li>
        <li>I am here for your growth and improvement.</li>
        <li>I am here to help you be your best. And to constantly get better.</li>
        <li>I care about your happiness.</li>
        <li>But I am not going to tell you what to do.</li>
      </ul>
    </p>
  </section>

  <section class="topic">
    <h3>Expectations</h3>
    <p>
      Treat everyone with respect.
      I trust you. You're an adult.
      Let me know what I can do for you. I am here to help you.
      Family is most important.
      Work life balance.
      I promise, you will know if there is a problem.
      Bring your whole self. Be honest and authentic.
    </p>
  </section>

  <section class="topic">
    <h3>1:1s</h3>
    <p>
      Help you understand what success looks like.
      This time is for you.
      It is not a status update.
      Don't wait till our 1:1 if it's important. Let's just talk.
    </p>
  </section>

  <section class="topic">
    <h3>???</h3>
    <p>
      Empathy.
      There are no dumb questions.
    </p>
  </section>

  <section class="topic">
    <h3>Failure Modes</h3>
    <p>
      Under stress I sometimes fall apart. In general I wear my emotions on my sleeve, so if I'm feeling something, you'll know about it.
    </p>
  </section>

  <section class="topic">
    <h3>Availability</h3>
    <p>
      I am always here to talk.
    </p>
    <p>
      My calendar is busy, but that's not a bug that's a feature. It's my job. Any space in my calendar is open to you, and if you have something important I will make space for you.
    </p>
  </section>
</body>
</html>
