body {
  background-color: #232531;
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: #FF5733;
}

h1, h2, h3 {
  color: #BBBBBB;
  border-bottom-width: 1px;
  border-bottom-color: #BBBBBB;
  border-bottom-style: solid;
}

em {
  font-weight: bold;
}

header {
  padding: 10px 50px;
  font-size: 1.5em;

  h1 {
    font-size: 2em;
  }
}

section {
  padding: 10px 50px;
}

section.tldr {
  p {

  }
}

section.topic {
  h3 {
    font-size: 1.3em;
  }

  p {

  }
}
