<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kevin McPhillips README</title>
  <meta name="description" content="Kevin McPhillips README">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/readme.css">
</head>
<body>
  <header>
    <h1>Kevin McPhillips README</h1>
    <a href="https://www.enneagraminstitute.com/type-1">Type 1</a>
    &mdash;
    <a href="https://www.16personalities.com/istj-personality">ISTJ</a>
  </header>
  <section class="tldr">
    <p>
      <em>tl;dr</em> I am always here for you. Most important to me are team culture and your happiness and safety. I have high expectations but I am here to help you exceed them. I believe in you.
    </p>
  </section>
  <section class="topic">
    <h3>Failure Modes</h3>
    <p>
      Under stress I sometimes fall apart. In general I wear my emotions on my sleeve, so if I'm feeling something, you'll know about it.
    </p>
  </section>

  <section class="topic">
    <h3>Availability</h3>
    <p>
      I am always here to talk.
    </p>
    <p>
      My calendar is busy, but that's not a bug that's a feature. It's my job. Any space in my calendar is open to you, and if you have something important I will make space for you.
    </p>
  </section>
</body>
</html>
