%h2 Resume
%p= link_to "/kmcphillips_resume.pdf", "Download the PDF"

#resume
  .header
    %h3 Kevin McPhillips
    %h5= EMAIL
  
  .section
    %h4 Education
    
    %ul
      %li
        %h5 Bachelor in Computer Science
        University of Manitoba
        Co-op option
      
      %li
        %h5 Sun Certified Java Programmer
        Java 5.0
        
  .section
    %h4 Experience
    
    %ul
      %li
        %h5 Thorkelson Consulting
        Ruby on Rails developer for CanadaDrugs.com
        
      %li
        %h5 MTS Communications Inc.
        Java web developer for MTS TV
        
  .section
    %h4 References
    %p Available upon request
    