// *********
// http://kevinmcphillips.ca
// Written, unsurprisingly, by the same.
// *********

// variables

$left_size: 42%
$nav_border_radius: 12px

// colours
$dark: #14494F
$light: #F0F0D8
$pale: #99CDD1
$acc_dark: #0F5459
$acc_light: #39898E
$almost_white: #DDD
$almoster_white: #EEE

$white: #FFF
$black: #000

// Layout

body
  font:
    family: Helvetica, Verdana, Arial, sans-serif
  margin: 0
  padding: 0 0 0 $left_size
  background-color: $light
  color: $dark

#container
  margin: 0 auto
  width: 800px

#left
  position: fixed
  top: 0
  left: 0
  width: $left_size
  height: 100%
  background: $acc_dark url('images/bgstripe.png') 
  
  .bg-shadow
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('images/bgshadow.png') right repeat-y

#right
  margin: 160px 10px 20px 10px

// Header logo

#logo
  margin: 35% 16px 0 0
  text-align: right
  text-shadow: 6px 6px 13px $black
    
  a
    color: $almost_white
    font-size: 4.4em
    font-variant: small-caps !important
    letter-spacing: -2px
    font-weight: normal    
  a:hover
    text-decoration: none

// Navbar

#nav
  text-align: right
  margin: 0 36px 0 0
  
  ul
    list-style: none
    text-align: right
    direction: rtl
    padding: 0px
    margin: 20px 0px
    -moz-box-shadow: 4px 4px 18px $black
    -webkit-box-shadow: 4px 4px 18px $black
    box-shadow: 4px 4px 18px $black
    -moz-border-radius: $nav_border_radius
    -webkit-border-radius: $nav_border_radius
    float: right

    li
      width: 100px
      padding: 0
      text-align: center
      font-weight: bold
      
      a
        background-color: $dark
        margin: 0px
        padding: 8px
        color: $almost_white
        display: block
        
      a.first
        -moz-border-radius-topleft: $nav_border_radius
        -moz-border-radius-topright: $nav_border_radius
        -webkit-border-top-left-radius: $nav_border_radius
        -webkit-border-top-right-radius: $nav_border_radius
        
      a.last
        -moz-border-radius-bottomleft: $nav_border_radius
        -moz-border-radius-bottomright: $nav_border_radius
        -webkit-border-bottom-left-radius: $nav_border_radius
        -webkit-border-bottom-right-radius: $nav_border_radius
        
      a:hover
        text-decoration: none
        background-color: $acc_dark
        color: $almoster_white
    
// Resume

#resume
  border: 2px solid $black
  background-color: $white
  margin: 18px
  padding: 12px
  font-size: 0.9em
  color: $black
  -moz-box-shadow: 4px 4px 14px $black
  -webkit-box-shadow: 4px 4px 14px $black
  box-shadow: 4px 4px 14px $black
  
  h3, h4, h5
    margin: 0px
    padding: 0px
  
  .header
    text-align: center
    
    h5
      font-weight: normal
      font-size: 100%
    
  .section
    text-align: left

// Styles

p
  margin-bottom: 1em
  line-height: 1.3

a
  color: $acc_light
  text-decoration: none

a:hover
  text-decoration: underline
  color: $acc_dark
  
.clear
  clear: booth
  

