// *********
// http://kevinmcphillips.ca
// Written, unsurprisingly, by the same.
// *********

// variables

$left_size: 42%

// Layout

body
  font:
    family: Helvetica, Verdana, Arial, sans-serif
  margin: 0
  padding: 0 0 0 $left_size

#container
  margin: 0 auto
  width: 800px

#left
  position: absolute
  top: 0
  left: 0
  width: $left_size
  height: 100%
  background: #3767AD url('images/bgstripe.png') 
  
  .bg-shaddow
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('images/bgshaddow.png') right repeat-y

#right
  margin: 100px 10px

// Header logo

#logo
  margin: 35% 16px 0 0
  text-align: right
  
  a
    color: #DDD
    font-size: 4em
    font-variant: small-caps !important
    letter-spacing: -2px
    font-weight: normal
  a:hover
    text-decoration: none

// Navbar

#nav
  text-align: right
  margin: 10px 16px 0 0
  
  a
    color: #DDD
    

// Styles

p
  margin-bottom: 1em
  line-height: 1.3

a
  color: #095EAE
  font-weight: bold
  text-decoration: none

a:hover
  text-decoration: underline

