// *********
// http://kevinmcphillips.ca
// Written, unsurprisingly, by the same.
// *********

// variables


// colours
$white: #FFF
$black: #000

// Layout

body
  font:
    family: "Helvetica Neue",Helvetica Neue,Helvetica,Arial,Verdana,sans
  margin: 0
  padding: 0
  background-color: $white
  color: $black
  font-weight: 800

#wrapper
  margin: 20px 0px 0px 20px
  max-width: 1150px
  min-width: 1150px

#header
  a
    color: $black
    text-decoration: none
  a:hover
    color: $black
    text-decoration: none


#sidebar
  #nav
    background-color: $black
    color: $white
    font-size: 2em
    margin: 20px
    
    ul
      list-style: none
      padding: 0px
      margin: 0px

      li
        padding: 0
      
        a
          background-color: $black
          color: $white
  
        a:hover
          text-decoration: none
          background-color: $white
          color: $black


#content



// Styles

a
  text-decoration: none

a:hover
  text-decoration: underline
  
.clear
  clear: booth
  

