%h2 Code

%p
  Sharing source code is a good thing. Most of the tools I use, from the OS to the language to version control to the server this is running on, is all open source. I do my part by contributing as much of my source as I can.

%p
  For now, I'm hosting most of my projects, big or small, on
  = link_to("GitHub", "http://github.com/kmcphillips/") + "."

%p
  = link_to("http://github.com/kmcphillips/", "http://github.com/kmcphillips/")

%p
  My big programming projects are also listed on the
  = link_to("projects page", "/projects") + "."
