%h2 Bio

-# .bio_image= image_tag("http://placehold.it/650x180.png", :alt => "Kevin McPhillips")

%p
  I am a web developer based out of Winnipeg, Manitoba, Canada. I do most of my work in in Ruby on Rails and more recently all things Ruby. I received my bachelor's degree in Computer Science from the University of Manitoba in 2005 and have been employed as a programmer since 2003. Currently, I am working full time doing Rails development for Thorkelson Consulting (part of the CanadaDrugs.com group of companies), plus some freelancing and side projects.
  
%p
  I am a firm believer in open source, open standards, and collaboration. This is reflected in the languages and tools that I choose, and
  = link_to "the source code I share.", "/code"
  Most of my programming is done in Ruby, but I dabble in Python and PHP. I also began my career as a Java programmer. I use git to manage and share my source code. My operating system of choice is Ubuntu Linux. Mind you, I'm also a fan of OS X despite its sometimes questinoable relationship with open source.

%p
  Programming is my work and one of my hobbies. It's what I do and honestly I love it.
  
%p
  When I'm not hacking out code I am also a potter and do wheel thrown functional ceramics, but that is for
  = link_to "another site.", "http://cliftonstudios.ca/artists.php?name=kevin+mcphillips"
  
%p
  I am also a friendly and approachable person. Please feel free to email me at #{rot13email(EMAIL)}.
